
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<h4>Welcome to About page. You have redirected Successfully..!</h4>


@*<div id="content" ng-controller="CalculatorController">
    <span ng-show="isViewLoading" class="viewLoading">
        <img src="~/Content/images/ng-loader.gif" /> loading...
    </span>
    <div ng-class="result">{{message}}</div>
    <hr />
    <form ng-submit="submitForm()" name="frmCalculator">
        <div>
            <label for="email">Number 1</label>
            <input type="number" ng-model="calc.Number1" name="number1" placeholder="Enter number 1" required ng-maxlength="14" />
            <span class="error" ng-show="(frmCalculator.$dirty||submitted) && frmCalculator.cname.$error.required">Customer name is Required</span>
            <span class="error" ng-show="frmCalculator.$dirty && frmCalculator.number1.$error.minlength">Minimum length required is 5</span>
            <span class="error" ng-show="frmCalculator.$dirty && frmCalculator.number1.$error.maxlength">Minimum length required is 15</span>
        </div>
        <div>
            <label for="email">Number 2</label>
            <input type="number" ng-model="calc.Number2" name="number2" placeholder="Enter number 2" required ng-maxlength="14" />
            <span class="error" ng-show="(frmCalculator.$dirty||submitted) && frmCalculator.cname.$error.required">Customer name is Required</span>
            <span class="error" ng-show="frmCalculator.$dirty && frmCalculator.number2.$error.minlength">Minimum length required is 5</span>
            <span class="error" ng-show="frmCalculator.$dirty && frmCalculator.number2.$error.maxlength">Minimum length required is 15</span>
        </div>
        <div>
            <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
        </div>
    </form>
</div>

<style>
    #content label {
        width: 150px;
    }

    #content input[type=submit] {
        margin-left: 154px;
        width: 120px;
        padding: 5px 15px;
        background: #ff6a00;
        border: 0 none;
        cursor: pointer;
        color: #fff;
    }

    .error {
        color: red;
    }

    .color-default {
        color: #000;
    }

    .color-red {
        color: red;
    }

    .color-green {
        color: green;
    }

    #content input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255, 244, 244);
    }
</style>*@